<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/header :: head}">
<body>
   <div th:insert="~{fragment/header :: my-navbar}"></div>

	<div class="container">
		<h1>Gestion des Dossiers</h1>
		<hr>
		<h2>Enregistrer Dossier</h2>

		<form action="#" th:action="@{/dossiers/save_dossier1}" th:object="${dossier}"
			method="POST">
				<input type="hidden" th:field="*{id}" />
				
				<input type="text" th:field="*{traitement}"
				placeholder="Traitement" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{chronique}"
				placeholder="Chronique" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{allergie}"
				placeholder="Allergie" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{etat}"
				placeholder="Etat de Santé" class="form-control mb-4 col-4">
				
				<input type="number" th:field="*{taille}"
				placeholder="Taille" class="form-control mb-4 col-4">
				
				<input type="number" th:field="*{poids}"
				placeholder="Poids" class="form-control mb-4 col-4">
				
				<input type="text" th:field="*{groupeSanguin}"
				placeholder="Groupe Sanguin" class="form-control mb-4 col-4">
        
                <input type="text" th:field="*{user}" readonly="readonly"
                placeholder="" class="form-control mb-4 col-4"  th:value="${user1.id}" th:text="${user1.email}"><br>
				
				<button type="submit" class="btn btn-info col-2"> Save Dossier</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/dossiers/}"> Back to Dossier List</a>
	</div>
<div th:insert="~{fragment/header :: footer}"></div>
