<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/header :: head}">

<body>
   <div th:insert="~{fragment/header :: my-navbar}"></div>

	<div class="container">
		<h1>Gestion des services</h1>
		<hr>
		<h2>Enregistrer Service</h2>

		<form action="#" th:action="@{/users/register}" th:object="${user}"
			method="POST">
			<input type="text" th:field="*{firstname}"
				placeholder="Prénom" class="form-control mb-4 col-4"><br>
				
				<input type="text" th:field="*{lastname}"
				placeholder="Nom" class="form-control mb-4 col-4"><br>
				
				<input type="text" th:field="*{email}"
				placeholder="Email" class="form-control mb-4 col-4"><br>
        
                <input type="text" th:field="*{adresse}"
                placeholder="Adresse" class="form-control mb-4 col-4"><br>
        
                <input type="text" th:field="*{tel}"
                placeholder="Téléphone" class="form-control mb-4 col-4"><br>
				
				<input type="date" th:field="*{birthday}"
				placeholder="Date de Naissance" class="form-control mb-4 col-4">
				
				<input type="password" th:field="*{password}"
				placeholder="Password" class="form-control mb-4 col-4"><br>
				
				<button type="submit" class="btn btn-info col-2"> Save User</button>
				<ul>
				<th:block th:each="error : ${errors}">
					<li class="error" th:text="${error.defaultMessage}">..</li>
				</th:block>
			</ul>
		</form>
		
		<hr>
		
		<a th:href = "@{/user/}"> Back to User List</a>
	</div>
<div th:insert="~{fragment/header :: footer}"></div>
