<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/header :: head}">
<body>
  <div th:insert="~{fragment/header :: my-navbar}"></div>

  <div class="container">
    <h1>Gestion des services</h1>
    <hr>
    <h2>Enregistrer Service</h2>

    <form action="#" th:action="@{/user/save_user}" th:object="${user}"
      method="POST">
      <input type="hidden" th:field="*{id}" /> <input type="text"
        th:field="*{firstName}" placeholder="Prénom"
        class="form-control mb-4 col-4"> <input type="text"
        th:field="*{lastName}" placeholder="Nom"
        class="form-control mb-4 col-4"> <input type="text"
        th:field="*{email}" placeholder="Email"
        class="form-control mb-4 col-4"> <input type="text"
        th:field="*{specialite}" placeholder="Specialite"
        class="form-control mb-4 col-4"> <input type="text"
        th:field="*{adresse}" placeholder="Adresse"
        class="form-control mb-4 col-4"> <input type="text"
        th:field="*{tel}" placeholder="Téléphone"
        class="form-control mb-4 col-4"> <input type="date"
        th:field="*{birthday}" placeholder="Birthday"
        class="form-control mb-4 col-4"> <input type="hidden"
        th:field="*{password}"> 
        <select class="form-select" th:field="*{sexe}">
				        <option value="" disabled selected>Select a user</option>
				        <option th:each="sex : ${sexe}" th:value="${sex}" th:text="${sex}"></option>
				    </select>

      <button type="submit" class="btn btn-info col-2">Save
        User</button>
      <ul>
        <th:block th:each="error : ${errors}">
          <li class="error" th:text="${error.defaultMessage}">..</li>
        </th:block>
      </ul>
    </form>

    <hr>

    <a th:href="@{/user/}"> Back to User List</a>
  </div>

  <div th:insert="~{fragment/header :: footer}"></div>