<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- <head> -->
<!-- <meta charset="UTF-8"> -->
<!-- <title>Insert title here</title> -->
<!-- </head> -->
<!-- <body> -->
<!-- <h2>Are you sure you want to delete the departement?</h2> -->
<!-- <form th:action="@{/depts/delete_dept/{dept_id}(dept_id=${dept_id})}" method="post"> -->
<!--     <button type="submit">Confirm</button> -->
<!--     <a th:href="@{/depts/}">Cancel</a> -->
<!-- </form> -->

<!-- </body> -->
<!-- </html> -->

<!-- W3hubs.com - Download Free Responsive Website Layout Templates designed on HTML5 CSS3,Bootstrap which are 100% Mobile friendly. w3Hubs all Layouts are responsive cross browser supported, best quality world class designs. -->
<!DOCTYPE html>
<html>
<head th:insert="~{fragment/header :: head}">
<body>
<div class="modal-dialog">
        <div class="modal-content">
	<form th:action="@{/depts/delete_dept/{dept_id}(dept_id=${dept_id})}"
		method="post">
		<div class="modal-header">
			<h4 class="modal-title">Confirm
				delete operation</h4>

			<button type="button" class="close" data-dismiss="modal"
				aria-hidden="true">&times;</button>
		</div>
		<div class="modal-body">
<!-- 		<img src="../images/right.png" class="img-responsive"> -->
            <h1 class="h1">Are You Sure?</h1>
            <p>Do you really want to delete these records? This process cannot be undone.</p>
		</div>

		<div class="modal-footer">
			<a class="btn btn-secondary btn-lg mr-2 rounded-lg" th:href="@{/depts/}">Cancel</a>


			<button type="submit" class="btn btn-danger btn-lg rounded-lg">
				<fa-icon icon="times"></fa-icon>
				&nbsp;<span>Delete</span>
			</button>
		</div>
	</form>
	</div>
	</div>
<div th:insert="~{fragment/header :: footer}"></div>

