<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Departement Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{../css/styles.css}">
</head>
<body>
	<div class="container">
		<h1>Gestion des services</h1>
		<hr>
		<h2>Enregistrer Service</h2>

		<form action="#" th:action="@{/depts/save_dept}"
			th:object="${departement}" method="POST">
			<input type="text" th:field="*{nom}" placeholder="Departement Name"
				class="form-control mb-4 col-4"> <input type="text"
				th:field="*{email}" placeholder="Departement Email"
				class="form-control mb-4 col-4">

			<button type="submit" class="btn btn-info col-2">Save
				Departement</button>
			<!-- 			<span class="error" th:if="${errors}" th:each="error : ${errors}" -->
			<!-- 				th:text="${error.defaultMessage}"></span> -->

			<ul>
				<th:block th:each="error : ${errors}">
					<li class="error" th:text="${error.defaultMessage}">..</li>
				</th:block>
			</ul>
		</form>

		<hr>

		<a th:href="@{/depts/}"> Back to Departement List</a>
	</div>
</body>
</html>